div {
    border: 18px solid;
    height: 1500px;
    width: 1200px;
    box-sizing: border-box;
    margin-left: 100px;
    border-color: #1D1E4C;
    background-color: #E5E5FD;
}

img {
    width: 230px;
    height: 300px;
    object-fit: cover;
    position: relative;
    top: 180px;
    left: 200px;
    border-radius: 50px;
}

.name {
    position: relative;
    text-align: center;
    left: 90px;
    font-size: 35px;
}

.year {
    text-align: center;
    position: relative;
    left: 180px;
    font-size: 20px;
}

h1 {
    position: relative;
    top: 170px;
    text-align: center;
    right: 170px;
    font-size: 60px;
}

.about {
    position: relative;
    top: 200px;
    left: 150px;

}

li {
    position: relative;
    top: 350px;
    left: 120px;
}

.biography {
    position: relative;
    left: 150px;
    top: 350px;
    font-size: 30px;
}

.wikipedia {
    text-align: right;
    position: relative;
    top: 480px;
    right: 90px;
}